# Lightning logs

## FLOP

In [10]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('./FLOP/lightning_logs/version_0/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.044650       NaN
1      0    99    0.045318       NaN
2      0   149    0.039258       NaN
3      0   199    0.048244       NaN
4      0   201         NaN  0.060223
5      1   249    0.046807       NaN
6      1   299    0.052170       NaN
7      1   349    0.039115       NaN
8      1   399    0.080540       NaN
9      1   403         NaN  0.058981

## RIVER

### Version 38

In [11]:
# Load the CSV file
df = pd.read_csv('./RIVER/lightning_logs/version_38/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.004920       NaN
1      0    99    0.003007       NaN
2      0   149    0.005510       NaN
3      0   191         NaN  0.003579
4      1   199    0.005671       NaN
5      1   249    0.005217       NaN
6      1   299    0.004443       NaN
7      1   349    0.005100       NaN
8      1   383         NaN  0.003331
9      2   399    0.003804       NaN

### Version 39

In [12]:
# Load the CSV file
df = pd.read_csv('./RIVER/lightning_logs/version_39/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.003758       NaN
1      0    99    0.001874       NaN
2      0   149    0.005806       NaN
3      0   191         NaN  0.004039
4      1   199    0.004695       NaN
5      1   249    0.006120       NaN
6      1   299    0.005524       NaN
7      1   349    0.003867       NaN
8      1   383         NaN  0.003526
9      2   399    0.004733       NaN

### Version 40

In [13]:
# Load the CSV file
df = pd.read_csv('./RIVER/lightning_logs/version_41/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.444247       NaN
1      0    99    0.474820       NaN
2      0   149    0.652594       NaN
3      0   199    0.444974       NaN
4      0   249    0.757762       NaN
5      0   299    0.481402       NaN
6      0   349    0.606972       NaN
7      0   399    0.398340       NaN
8      0   399         NaN  0.507668
9      1   449    0.444080       NaN

## TURN

### Version 4

In [14]:
# Load the CSV file
df = pd.read_csv('./TURN/lightning_logs/version_4/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.002874       NaN
1      0    99    0.001938       NaN
2      0   149    0.000475       NaN
3      0   199    0.000315       NaN
4      0   249    0.000589       NaN
5      0   299    0.000635       NaN
6      0   349    0.000026       NaN
7      0   399    0.000622       NaN
8      0   449    0.000281       NaN
9      0   499    0.000007       NaN

### Version 5

In [15]:
# Load the CSV file
df = pd.read_csv('./TURN/lightning_logs/version_5/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.158565       NaN
1      0    99    0.137453       NaN
2      0   144         NaN  0.123215
3      1   149    0.095298       NaN
4      1   199    0.102331       NaN
5      1   249    0.148161       NaN
6      1   289         NaN  0.120751
7      2   299    0.086773       NaN
8      2   349    0.127139       NaN
9      2   399    0.097607       NaN

### Version 6

In [16]:
# Load the CSV file
df = pd.read_csv('./TURN/lightning_logs/version_6/metrics.csv')

# Display the contents of the DataFrame
df.head(10)

   epoch  step  train_loss  val_loss
0      0    49    0.189883       NaN
1      0    99    0.119982       NaN
2      0   144         NaN  0.120509
3      1   149    0.085919       NaN
4      1   199    0.136876       NaN
5      1   249    0.088508       NaN
6      1   289         NaN  0.119829
7      2   299    0.114731       NaN
8      2   349    0.154150       NaN
9      2   399    0.163114       NaN